<%# ------------------- Banner section ----------------------- %>
<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
 asset_url('<%= "#{@list.name.downcase}.png" %>')">
  <div class= "container">
    <h1><%= @list.name %></h1>
  </div>
</div>


<h2>Movies</h2>


<% @bookmarks.each do |bookmark| %>
  <div>
    <%= bookmark.movie.title %>
    <%= image_tag bookmark.movie.poster_url %>
    <%= bookmark.movie.overview %>
    <%= bookmark.comment  %>
  </div>
<% end %>


<%= link_to 'Back to lists', root_path %>


<h3>Add a movie</h3>

<%= simple_form_for [ @list, @bookmark ] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit "Add Movie"%>
<% end %>
